Flask==3.0.3
Werkzeug==3.0.3
itsdangerous==2.2.0
numpy==1.26.4
pandas==2.2.2
requests==2.32.3
matplotlib==3.9.0
seaborn==0.13.2
scikit-learn==1.5.0
scipy==1.13.1
python-dateutil==2.9.0.post0
pytz==2024.1
Jinja2==3.1.4
torch==2.0.1
gunicorn==20.1.0  # Add this if you're deploying on Heroku

